.all-bg {
    -fx-background-image: url('../img/all_ui/all-bg.png');
    -fx-background-color: black;
    -fx-background-size: cover;
    -fx-background-position: left;
    -fx-background-repeat: no-repeat;
}

.main-color {
    -fx-background-color: #318DD1;
}

.bg-white {
    -fx-background-color: white;
}

.transperant {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.transperant-70 {
     -fx-background-color: rgba(255, 255, 255, 0.7);
}

.transperant-80 {
    -fx-background-color: rgba(255, 255, 255, 0.8);
}

.transperant-90 {
    -fx-background-color: rgba(255, 255, 255, 0.9);
}

.opacity50 {
    -fx-opacity: 0.5;
}

.border-form {
    -fx-border-width: 1;
    -fx-border-color: #cdc7c7;
}

.border-radis-15 {
    -fx-border-radius: 15;
}

.bg-radis-15 {
    -fx-background-radius: 15;
}

.border-bottom {
    -fx-border-color: transparent transparent black transparent;
    -fx-border-width: 0 0 1px 0;
}

.main-hover {
    -fx-background-color: #318DD1;
    -fx-text-fill: white;
}

.main-hover:hover {
    -fx-background-color: #56c8ed;
    -fx-text-fill: black;
}
