/*tab pane*/
/*theme*/
.main-color {
    -fx-background-color: darkblue;
}

.white-color {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.transparent-color {
    -fx-background-color: transparent;
}

* {
    -fx-primary-color:  darkblue;
    -fx-secondary-color: #4B6EAF;
    -fx-focus-color: -fx-secondary-color;
}

.tab-header-area .tab-header-background {
    -fx-background-color: -fx-primary-color;
}
.tab-pane .tab:selected {
    -fx-background-color: -fx-secondary-color;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}
.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 0 35 0 35;
}
.tab-pane:top *.tab-header-area {
    -fx-padding: 0 0 0 30;
}
.tab-pane {
    -fx-background-color: transparent;
    -fx-tab-min-width: 100px;
    -fx-tab-min-height: 66px;
    -fx-tab-max-height: 66px;
}
.tab-pane .tab {
    -fx-background-color: transparent;
    -fx-font-size: 23px;
}
.tab-pane:focused .tab-header-area .headers-region .tab:selected .focus-indicator {
    -fx-border-width: 0;
    -fx-border-insets: 0 0 0 0;
    -fx-border-radius: 0;
}

/*Table view*/
.table-view .column-header-background{
    -fx-background-color: -fx-primary-color;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-padding: 10px 30px;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-font-size: 23px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}

/*
.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

*/
.table-row-cell:selected {
    -fx-text-fill: white;
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view .column-header-background .filler {
    -fx-background-color: linear-gradient(#101010 0%, #424141 100%);
}
