.all-bg {
    -fx-background-image: url('../img/background/all-bg.png');
    -fx-background-color: black;
    -fx-background-size: cover;
    -fx-background-position: left;
    -fx-background-repeat: no-repeat;
}

.gradient-main {
    -fx-background-color: linear-gradient(to bottom, #2E3192, #1BFFFF);
}

.main-color {
    -fx-background-color: #318DD1;
}

.bg-white {
    -fx-background-color: white;
}

.transperant {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.transperant-50 {
    -fx-background-color: rgba(255, 255, 255, 0.5);
}

.transperant-60 {
    -fx-background-color: rgba(255, 255, 255, 0.6);
}

.transperant-70 {
     -fx-background-color: rgba(255, 255, 255, 0.7);
}

.transperant-80 {
    -fx-background-color: rgba(255, 255, 255, 0.8);
}

.transperant-90 {
    -fx-background-color: rgba(255, 255, 255, 0.9);
}

.opacity50 {
    -fx-opacity: 0.5;
}

.border-form {
    -fx-border-width: 1;
    -fx-border-color: #cdc7c7;
}

.border-radis-15 {
    -fx-border-radius: 15;
}

.border-radis-50 {
    -fx-border-radius: 50;
}

.bg-radis-15 {
    -fx-background-radius: 15;
}

.border-bottom {
    -fx-border-color: transparent transparent black transparent;
    -fx-border-width: 0 0 1px 0;
}

.main-theme-color {
    -fx-background-color: #318DD1;
    -fx-text-fill: white;
}

.color-menubar {
    -fx-background-color: rgba(255, 255, 255, 0.5);
}

.border-line-top {
    -fx-border-color: white transparent transparent transparent;
    -fx-border-width: 1px 0 0 0;
}

.border-line-bottom {
    -fx-border-color: transparent transparent white transparent;
    -fx-border-width: 0 0 1px 0;
}

.border-line-top-bot {
    -fx-border-color: white transparent white transparent;
    -fx-border-width: 1px 0 1px 0;
}

.titled-pane > .title {
    -fx-background-color: transparent;
    -fx-padding: 20px 0 0 0;
}

.titled-pane > .content {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#menu_hide_manage_icon {
    -fx-translate-x: 8px;
}